<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Here you can add, change or delete your phone number</h2>
          </div>
          <div class="col-sm-6">
            <form [formGroup]="formSelect">
              <input formControlName="phoneNumber" type="text" class="form-control" required>
              <button (click)="selectPhoneNumber()" type="button" class="close">Seach</button>
            </form>
          </div>
        </div>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Phone Type</th>
            <th></th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phone of phoneList;">
            <td></td>
            <td>{{ phone?.personName }}</td>
            <td>{{ phone?.phoneNumber }}</td>
            <td>{{ phone?.phoneType }}</td>
            <td>
              <form [formGroup]="formUpdate">
                <input *ngIf="phone.isEditing" [formControlName]="phone.phoneNumber" [id]="phone.phoneNumber"
                  type="text" class="form-control" required>
              </form>
            </td>
            <td>
              <a *ngIf="!phone.isEditing" (click)="phone.isEditing = !phone.isEditing" class="edit" data-toggle="modal"><i class="material-icons"
                  data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a *ngIf="phone.isEditing" (click)="updatePhoneNumber(phone)" class="edit" data-toggle="modal"><i
                  class="material-icons" data-toggle="tooltip" title="Edit">&#xea39;</i></a>
              <a (click)="deletePhoneNumber(phone)" class="delete" data-toggle="modal"><i class="material-icons"
                  data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--Insert Modal-->

<div class="container">
  <h1>
    Want to add a new phone number?
  </h1>

  <details>
    <summary>
      <div class="button">
        Add a new phone number
      </div>
      <div class="details-modal-overlay"></div>
    </summary>
    <div class="details-modal">
      <div class="details-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z"
            fill="black" />
        </svg>
      </div>
      <div class="details-modal-title">
        <h1>Phone details</h1>
      </div>
      <div class="details-modal-content">
        <form [formGroup]="formInsert">
          <label>Enter your new phone number</label>
          <input formControlName="phoneNumber" type="text" class="form-control" required>
          <label>Enter your id</label>
          <input formControlName="nameId" type="text" class="form-control" required>
          <label>Enter the type of the phone number (1 for cellphone and 2 for local phone)</label>
          <input formControlName="typeId" type="text" class="form-control" required>

          <button (click)="insertPhoneNumber()" type="button" class="close">Save</button>
        </form>
      </div>
    </div>
  </details>
</div>